<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>

    <%# Include default page title, in case the profile doesn't specify one %>
    <title>Résumé</title>
  </head>

  <body>
      <!--[if IE]>
      <p>This site uses HTML5 and CSS3 styling. It may not appear correctly on older browsers. <a href="https://www.google.com/chrome" target="_blank">Please get</a> <a href="https://www.mozilla.org/firefox" target="_blank">a modern</a> <a href="https://www.opera.com" target="_blank">browser</a> if at all possible.</p>
      <![endif]-->
    <%= yield %>
  </body>
</html>
